body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  width: 100vw;
  height: 100vh;
  font-weight: 300 !important;
  overflow: hidden;
}

[id^='view-'] {
  /* z-index: 1000; */
}

.toc-link {
  display: block;
  margin-left: 20%;
}

.toc-link:first-child {
  margin-top: 10%;
}

#clockContainer::before {
  content: '';
  inset: 0;
  position: absolute;
  border-radius: 100px;
  z-index: -1;
  opacity: 0.7;
  background-color: white;
}

.cardContainer {
  display: block;
  z-index: 0;
  position: absolute;
  bottom: 20%;
  left: 0px;
  width: max-content;
  max-width: 40%;
  z-index: 0;
  box-sizing: border-box;
  line-height: 1.5;
  padding: 1rem 20vh 1rem 2rem;
}

.cardContainer::before {
  display: block;
  content: '';
  position: absolute;
  inset: 0;
  /* bottom: 10%;
left: 0px; */
  background: white;
  /* height: 20%;
width: 30%; */
  box-sizing: border-box;
  z-index: -1;
  padding: 1rem 20vh 0 1rem;
  opacity: 0.7;
  border-radius: 0 100vw 100vw 0;
}

.buttons {
  position: absolute;
  display: block;
  bottom: 20px;
  padding: 1em;
  border: none;
  font-weight: bold;
  background: white;
  cursor: pointer;
  opacity: 0.7;
  font-size: 1.2rem;
}

.buttons.right {
  right: 0px;
  padding-right: 2em;
  border-radius: 100vh 0 0 100vh;
  transform: translateX(10px);
}

.buttons.right:hover {
  transform: translateX(0px);
}

.buttons.left {
  left: 0px;
  padding-left: 2em;
  border-radius: 0 100vh 100vh 0;
  transform: translateX(-10px);
}

.buttons.left:hover {
  transform: translateX(0px);
}

h1 {
  position: absolute;
  top: 0.5em;
  right: 50%;
  transform: translateX(50%);
}

.purple,
.orange,
.green {
  font-weight: bold;
}

.purple {
  color: rgb(174, 0, 255);
}
.orange {
  color: rgb(255, 158, 102);
}
.green {
  color: rgb(72, 235, 94);
}

.scroll-indic {
  bottom: 100%;
  left: 0;
  width: 15px;
  height: 100%;
  position: absolute;
  background-color: hsl(208, 100%, 40%);
  opacity: 80%;
  border-radius: 0 0 100vw 100vw;
  transform-origin: top;
}

.deck-tooltip {
  transform: translate(1rem, 1rem) !important;
  z-index: 10000 !important;
  background-color: rgba(41, 50, 60, 0.95);
}

.tooltips {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  display: flex;
  gap: 1em;
  margin: 1em;
}

.tooltip-wrapper {
  color: rgb(41, 50, 60);
  box-sizing: border-box;
  /* transform: translate(1026px, 445.241px); */
}

.tooltip-container {
  position: relative;
  padding: 0.75em;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  gap: 0.1em;
}

.tooltip-container::before {
  content: '';
  inset: 0;
  z-index: -1;
  position: absolute;
  background-color: var(--bg-color, rgb(160, 167, 180));
  border-radius: 0.5em;
  opacity: 0.75;
  mix-blend-mode: multiply;
}

.tooltip-container.active {
  visibility: visible;
}

#main-tooltip {
  --bg-color: hsl(231, 17%, 77%);
}

#secondary-tooltip {
  --bg-color: hsl(231, 17%, 90%);
}

.legend-area {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  /* color: #333333;
  fill: #333333; */
  /* background-color: gray; */
}

/* .legend-area > g > g > path,
.legend-area > g > g > g > line {
  stroke: #333333;
} */

.styled-input {
  position: absolute;
  bottom: 140px;
  display: flex;
  flex-direction: row;
  width: min-content;
  right: 50%;
  transform: translateX(50%);
  gap: 1rem;
  align-items: center;
}

/* .styled-input div {
  position: absolute;
  display: flex;
  bottom: 20px;
  right: 60%;
  transform: translateX(50%);
  gap: 1em;
  align-items: center;
} */

.styled-input button {
  outline: 0;
  border: none;
  cursor: pointer;
  height: 32px;
  padding: 0px 16px;
  border-radius: 50px;
  background-color: #ffffff85;
  color: #333333;
  font-size: 12px;
  font-weight: 500;

  /* position: absolute;
  display: block;
  bottom: 60px;
  right: 60%;
  transform: translateX(50%); */
}

.styled-input input[type='number'] {
  width: 5ch;
  display: block;

  width: 10ch;
  display: block;
  outline: 1px solid #3f3f3f85;
  border: none;
  cursor: pointer;
  height: 32px;
  padding: 0px 16px;
  border-radius: 50px;
  background-color: #ffffff85;
  color: #333333;
  font-size: 12px;
  font-weight: 500;
  outline-offset: 4px;
  text-align: center;
}

.styled-input input[type='range'] {
  width: 40vw;
  /* display: block; */
}

.styled-input input[type='range'] {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.styled-input input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.styled-input input[type='range']::-webkit-slider-thumb:hover {
  background: #1a73bc;
}
.styled-input input[type='range']:active::-webkit-slider-thumb {
  background: #1a73bc;
}
.styled-input input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.styled-input input[type='range']::-moz-range-thumb:hover {
  background: #1a73bc;
}
.styled-input input[type='range']:active::-moz-range-thumb {
  background: #1a73bc;
}
.styled-input input[type='range']:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1a73bc;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

.styled-input input[type='range']::-moz-focus-inner,
.styled-input input[type='range']::-moz-focus-outer {
  border: 0;
}

.study-area {
  --height: 100px;
  text-align: center;
  position: absolute;
  width: 100vw;
  height: var(--height);
  top: calc(100vh - var(--height));
  isolation: isolate;
}

.study-area::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 1;
  z-index: -1;
}

.study-input {
  position: absolute;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
}
